body
{
    background-image:"background.jpg";
    
}
.head
{
    width: 100%;
    box-shadow: 2px 2px grey;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}
label
{
    color: black;
    font-size: 18px;
}
footer
{
  background-color: grey;
  color: white;
  bottom: 0;
  position: fixed; 
  width: 100%;
  text-align: center;
}
canvas
{
border: 2px solid black;
}